<div class="content" *ngFor="let u of user">
  <div class="ui small image">
    <img [src]="u.profilepicture">
  </div>
  <div class = "header">Username: {{u.username}}</div>
  <div class="header">Name: {{u.firstname + " " + u.surname}}</div>
  <div class="info">
    <!--Birthdate: {{u.birthdate.getDay()}}.{{u.birthdate.getMonth()}}.{{u.birthdate.getFullYear()}}<br>-->
    Birthdate: {{u.birthdate}}<br>
    Email: {{u.email}}<br><br>
  </div>
  <div class="ui divider"></div>
  <div class="metadata">
    Gender: {{u.bodyinfo["gender"]}}<br>
    Height: {{u.bodyinfo["height"]}}<br>
    Weight: {{u.bodyinfo["weight"]}}<br>
    Bodyfat: {{u.bodyinfo["bodyfat"]}}<br>
    Water: {{u.bodyinfo["water"]}}<br>
    BMI: {{u.bodyinfo["bmi"]}}<br>
  </div>
</div>

