<div class="content">
  <div class="ui grid">
    <div class="one wide column">
      <img class="ui avatar image" [src]="person.profilepicture">
    </div>
    <div class="one wide column">
      <div class = "header">{{person.username}}</div>
    </div>
  </div>
</div>


<!--<div class="ui container">
  <div class="ui celled grid">
    <div class="row">
      <div class="one wide column">
        <div class="item">
          <img class="ui avatar image" [src]="person.profilepicture">
        </div>
      </div>
      <div class="three wide column">
        <div class = "content">{{person.username}}</div>
      </div>
    </div>
  </div>
</div>-->
